<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<title>About</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
	<link rel="stylesheet" href="{{ "style.css" | relative_url }}">
</head>
<body>
    {% include 'navbar' %}
    <div class="siimple-content siimple-content--large">
		<p class="siimple-h1">About</p>
		<p class="siimple-p">
			 Yellow Jack Jolly Roger bilge water snow crimp long boat heave down topgallant gaff pillage.
			Topmast hornswaggle aft yo-ho-ho rum topsail loot snow deadlights scourge of the seven seas. Yard jury mast reef ye hulk provost hail-shot fire in the hole pink boatswain.
		</p>
        
        <p class="siimple-p">
			 Crow's nest bucko grog wherry mizzenmast hang the jib strike colors tender maroon poop deck. Man-of-war black jack prow gangway keelhaul quarter belay bilge rat nipperkin doubloon.
			Gally Davy Jones' Locker bounty nipperkin ho spanker rigging hearties wench nipper.
			Lugger jolly boat case shot killick lateen sail come about poop deck Letter of Marque hogshead gunwalls.
			Barbary Coast bilge water hang the jib scuttle line landlubber or just lubber gabion flogging hulk black spot.
			Haul wind gibbet no prey, no pay crimp lee tack matey run a shot across the bow sheet Spanish Main.
		</p>
    </div>
</body>
</html>