<div class="siimple-navbar siimple-navbar--primary siimple-navbar--fluid">
    <div class="siimple-navbar-title">My blog</div>
    <a class="siimple-navbar-subtitle">All about that blog life</a>
    <div class="siimple--float-right">
        <a class="siimple-navbar-item" href="{{ "index.html" | relative_url }}">Home</a>
        <a class="siimple-navbar-item" href="{{ "about.html" | relative_url }}">About</a>
    </div>
</div>